.container-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2000;
  }

.block-login{
  display: flex;
  height: 450px;
  width: 800px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.block-login .left{
  width: 55%;
  background-image: url("../../src/images/imageLogin-Register.jpg");
  background-size: cover;
  background-position: center;
}

.block-login .right{
  background-color: #001d3d;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close{
  position: absolute;
  top: 10px;
  right: 10px;
}

.close .closeMenuLogin{
  border: none;
  background-color: #001d3d;
  color: #e0e1dd;
}

.close .closeMenuLogin:hover{
  cursor: pointer;
}

.right h1{
  color: #e0e1dd;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right label{
  color: #e0e1dd;
}

.right input{
  border: none;
  background-color: #000814;
  border-radius: 10px;
  padding: 10px;
  width: 280px;
  margin-bottom: 10px;
  color: white;
}

.right input:focus{
  outline: none;
}

.right .submit{
  width: 300px;
  border: none;
  background-color: #000814;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
}

.right .submit:hover{
  cursor: pointer;
  background-color: #003566;
}

.right .buttonGoogle{
  width: 300px;
  border: none;
  background-color: #5c0000fd;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
}

.right .buttonGoogle:hover{
  cursor: pointer;
  background-color: #860000fd;
}

.block-login a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.register{
  width: 300px;
  display: flex;
  gap: 5px;
  padding-bottom: 15px;
}

.register p{
  font-size: 12px;
  color: rgba(255, 255, 255, 0.342);
}

.register a{
  color: white;
  font-size: 12px;
}
.register a:hover{
  color: rgb(110, 0, 0);
}

@media screen and (min-width: 300px) and (max-width: 767px){
  .block-login{
    flex-direction: column;
    width: 270px;
    height: 480px;
    align-items: center;
    justify-content: center;
  }
  
  .block-login .close .closeMenuLogin{
    background-color: rgba(0, 255, 255, 0);
  }

  .block-login .left{
    width: 100%;
    height: 139px;
  }

  .block-login .right{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 341px;
  }

  .right h1{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 0px;
  }

  .right input{
    width: 210px;
  }

  .right .submit{
    width: 230px;
  }
  
  .right .buttonGoogle{
    width: 230px;
    margin-bottom: 5px;
  }

  .register{
    width: 230px;
  }
}