header{
    display: flex;
    padding: 15px 50px;
    background-color: #001d3d;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.blocodireita{
    display: flex;
    align-items: center;
    gap: 50px;
}


.search form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    background-color: #000814;
    border-radius: 6px;
}

.blocodireita .search .value-search{
    padding: 10px;
    border-radius: 6px 0px 0px 6px;
    border: none;
    background-color: #000814;
    width: 500px;
    outline: none;
    font-size: 15px;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #000814 inset !important;
  transition: background-color 0s ease-in-out 0s;
}

header .blocodireita .button-search{
    font-size: 10px;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.329);
    background-color: #000814;
    border: none;
}

.blocodireita .button-search:hover{
    cursor: pointer;
}

header .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .favoritos{
    width: 80px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    text-decoration: none;
    background-color: #000814;
    padding: 9.5px;
    border-radius: 6px;
    font-weight: bold;
    color: #E0E0E0;
    transition: 0.3s;
}

header .favoritos:hover{
    background-color: #003566;
    color: #E0E0E0;
}

header .login-register{
    margin-right: 20px;
    width: 80px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #000814;
    padding: 9.5px;
    border-radius: 6px;
    font-weight: 100;
    color: #E0E0E0;
    transition: 0.3s;
}

header .login-register:hover{
    background-color: #003566;
    color: white;
}

header .button-logout{
    margin-right: 60px;
    text-decoration: none;
    background-color: #000814;
    padding: 9.5px;
    border-radius: 6px;
    font-weight: 900;
    color: white;
    transition: 0.3s;
    width: 80px;
    text-align: center;
}

header .button-logout:hover{
    background-color: #003566;
    color: white;
    cursor: pointer;
}

header .menu-hamburguer{
    display: none;
}

header .button-hamburguer{
    display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1080px){
    header{
        height: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header .logo{
        font-size: 25px;
        padding-left: 0px;
        position: relative;
    } 

    header .blocodireita .search form .value-search{
        width: 400px; 
        height: 7px;
    }

    header .blocodireita .search form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .blocodireita .button-search{
        color: rgba(255, 255, 255, 0.26);
        padding: 6px;
        border-radius: 0px 6px 6px 0px;
    }

    .buttons .login-register{
        margin: 0;
        font-size: 10px;
    }
    header .blocodireita .buttons .button-logout{
        margin: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    header{
        height: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header .logo{
        font-size: 20px;
        padding-left: 0px;
        position: relative;
    } 

    header .blocodireita .search form .value-search{
        width: 220px; 
        height: 12px;
    }

    header .blocodireita .search form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .blocodireita .button-search{
        color: rgba(255, 255, 255, 0.226);
        border-radius: 0px 6px 6px 0px;
    }

    header .blocodireita .buttons .login-register{
        margin: 200;
        font-weight: bolder;
    }

    header .blocodireita .buttons .button-logout{
        margin: 0;
    }
}

@media screen and (min-width: 300px) and (max-width: 767px){
    header{
        height: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header .logo{
        font-size: 15px;
        padding-left: 0px;
        position: relative;
    } 

    header .blocodireita .search form .value-search{
        width: 150px; 
        height: 4px;
    }

    header .blocodireita .search form{
        display: flex;
        width: 100%;
    }

    header .blocodireita .button-search{
        color: rgba(255, 255, 255, 0.493);
        padding: 4px;
        border-radius: 0px 6px 6px 0px;
    }

    header .favoritos{
        z-index: 1500;
        margin: 0;
        width: 200px;
        text-align: center;
    }

    header .button-logout{
        z-index: 1500;
        margin: 0;
        width: 200px;
        text-align: center;   
    }

    header .login-register{
        z-index: 1500;
        margin: 0;
        width: 200px;
        text-align: center;
    }

    header .blocodireita .buttons{
        display: none;
    }

    header .menu-hamburguer{
        background-color: #001d3d;
        height: 200px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        margin: 0;
        padding: 0;
        width: 100%; 
        transition: 10s;
    }

    header .active-menu-hamburguer{
        display: flex;
    }
    
    header .blocodireita .active-button-header{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: fixed;
        top: 55px;
        right: 0px;
        z-index: 10000;
        display: flex;
    }

    header .button-hamburguer{
        display: block;
        z-index: 3000;
        left: 10;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }

    header .close-menu{
        display: none;
    }

    header .active-close-menu{
        display: block;
    }

    header .active-open-menu{
        display: none;
    }

    header .button-hamburguer svg{
        width: 20px;
        height: 20px;
    }

    header .active-button-hamburguer{
        position: fixed;
    }
}